
*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #272727;
    padding-top: 50px;
}

/* HEADER SECTION */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #f4f4f4;
    padding-top: 14px;
    padding-bottom: 14px;
}

.container {
    max-width: 1107px;
    margin: auto;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    flex-basis: 80%;
}

.logo {
    font-size: 16px;
    font-weight: 700;
    color: #95989a;
}

.nav__link {
    font-size: 12px;
    color: #95989a;
    text-decoration: none;
    margin-right: 22px;
}

.login {
    font-size: 12px;
    color: #95989a;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

/* TABS SECTION */

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tabs-menu {
    list-style: none;
    padding: 0;
    display: flex;
    border-bottom: 1px solid #eaeaea;
}

.tabs-logo {
    color: #95989a;
    font-size: 20px;
    font-weight: 700;

}

.tabs-menu__item {
    margin-left: 15px;
    font-size: 16px;
    position: relative;

}

/* .tabs-menu__item:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #fcde29;
} */

/* TABS CONTENT */
.tabs-content {
    background: #f2f4ff url('/img/tabs-content.png') no-repeat bottom right 135px;
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 43px;
    margin-bottom: 65px;
}

.tabs-content__title {
    font-size: 36px;
    font-weight: 700;
}

.tabs-content__text {
    font-size: 18px;
    max-width: 320px;
    margin-bottom: 90px;
}

.button {
    border-radius: 6px;
    background-color: #fcde29;
    padding: 16px 33px;
    font-size: 16px;
    font-weight: 700;
    border: none;

}

/* FEATURES SECTION */

.section-title {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}

.section__title {
    margin-bottom: 30px;
}

.card {
    background-color: #f2f4ff;
    padding: 23px;
    border-radius: 10px;

}

.card__text {
    max-width: 484px;
    font-size: 16px;
}

.card__bottom {
    background-image: url('/img/coins.png');
    background-repeat: no-repeat;
    background-position: center right 80px;
    margin-bottom: 40px;
}

.section__card {
    margin-bottom: 40px;
    margin-right: 50px;
}

.section__card:last-child {
    margin-right: 0px;
}

.card-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* BEST JAR IN WORLD */

.section-subtitle {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    margin-top: 9px;
}

.best__title {
    margin-bottom: 9px;
}


.best-card {
    width: 240px;
    height: 260px;
    padding: 0;
    position: relative;
}

.best-card__image {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.best-card__image_left {
    left: 0;
    transform: translateX(0);
}

.best-card__image_right {
background-image: url(/img/jar_hand.png);
background-position: bottom right;
background-repeat: no-repeat;
}

.best-card__text {
    max-width: 204px;
    margin: auto;
    text-align: center;
    margin-top: 19px;
}

/* FORM DELIVERY */

.delivery {
    padding-top: 60px;
    padding-bottom: 100px;    
}

.input {
    background-color: #f7f8ff;
    border: none;
    padding: 20px;
    width: 100%;
    border-radius: 7px;
    font-size: 16px;
    color:#95989a;
    font-weight: 400;
}

.form__input {
    margin-bottom: 30px;
}

.form {
    max-width: 600px;
    margin: auto;
}

.delivery__form {
    margin-top: 60px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-100 {
    width: 100%;
}

.col-50 {
    flex-basis: 49%;
}

.button-block {
    display: flex;
    justify-content: flex-end;
}

/* FOOTER */

.footer {
    background-color: #f7f7f7;
    padding: 60px 0;
    
}

.footer__text {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    min-width: 670px;
    margin: auto;
}

